/* Common */

html, body {
    height: 100%;
    margin: 0;
    background-color: #0B3B0B;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #FFFFFF;
}

.container-fluid {
    min-height: 100%;
    overflow: hidden;
    display: table;
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.green {
    background-color: #0B3B0B;
}

.dark-green {
    background-color: #083208;
}

.black-text {
    color: #000000;
}

input.ng-invalid.ng-dirty {
    border: 1px solid #00ff00;
}

input.ng-valid.ng-dirty {
    border: 1px solid #ff0000;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* End Common */

/* Login */

.form {
    width: 20%;
    padding-top: 2%;
}

.home-buttons {
    width: 20%;
}

/* End Login */

/* Ranking */

.ranking {
    width: 60%;
}

/* End Ranking*/

/* Round update */

.round-update {
    width: 30%;
}

/* End Round update */