/* Common */

html, body {
    height: 100%;
    margin: 0;
    background-color: #0B3B0B;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #FFFFFF;
}

.container-fluid {
    min-height: 100%;
    overflow: hidden;
    display: table;
    width: 100%;
    margin-top: -50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.green {
    background-color: #0B3B0B;
}

.dark-green {
    background-color: #083208;
}

.black-text {
    color: #000000;
}

input.ng-invalid.ng-dirty {
    border: 1px solid #00ff00;
}

input.ng-valid.ng-dirty {
    border: 1px solid #ff0000;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar {
    margin: 0px;
}

.panel {
    margin-top: 20px;
    border: none;
    background-color: rgb(34, 74, 7);
}

.panel-body {
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 16px;
    color: white;
    text-align: left;
}


.btn-primary {
    color: #355723;
    background-color: #FFFFFF;
    border-color: #355723;
}

.btn-primary:hover, .btn-primary:active {
    color: #355723;
    background-color: #DBDBDB;
    border-color: #355723;
    box-shadow: none;
}

.workspace {
    height: 520px;
}

/* End Common */

/* Login */

.form {
    width: 20%;
    padding-top: 2%;
}

.home-buttons {
    width: 20%;
}

/* End Login */

/* Ranking */

.ranking {
    width: 60%;
}

/* End Ranking*/

/* Round update */

.round-update {
    width: 30%;
}

/* End Round update */

/* Team create / update */

.team-roster {
    background: green;
    height: 400px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.team-roster-input {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 250px;
}

.img-thumbnail {
    height: 180px;
}

.team-logo {
    padding-top: 10px;
    padding-bottom: 40px;
}

.team-formation {
    width: 920px;
    height: 500px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.players {
    width: 28%;
    height: 100%;
    overflow-y: scroll;
    background-color: #DBDBDB;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.current-formation {
    height: 400px;
    background: green;
    width: 300px;
    margin-left: 20px;
    float: left;
}

.formation {
    width: 60%;
    padding-top: 5px;
    padding-bottom: 30px;
}

.formation-info {
    padding: 3px;
}

/* End Team create / update */

/* League Create / Update */

.tourney-setup {
    width: 30%;
    height: 100%;
    float: left;
}

.setup {
    background: green;
    height: 53%;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.setup-info {
    width: 80%;
    padding-top: 20px;
}

.setup-info input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tourney-selectors {
    width: 70%;
    height: 100%;
    float: left;
    background: green;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tourney-selector {
    width: 50%;
    height: 100%;
    float: left;
}

.team-selector {
    width: 90%;
    height: 85%;
    border-radius: 10px;
    margin-top: 14px;
    background-color: #DBDBDB;
    overflow-y: scroll;
}

.teams {
    width: 40%;
    float: left;
    height: 100%;
    overflow-y: scroll;
    background-color: #DBDBDB;
    margin-left: 40px;
    margin-right: 40px;
}

/* End League Create / Update */