<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ 'TOURNEY_EDITION' | translate }}</p>
    </div>
</div>

<div class="workspace">

    <div class="tourney-setup">
        <div class="setup">
            <div class="setup-info center">
                <input type="text" name='team-name' placeholder="Tourney Name" class="form-control"/>
                <input type="text" name='team-name' placeholder="Minimum amount of teams" class="form-control"/>
                <input type="text" name='team-name' placeholder="Maximum amount of teams" class="form-control"/>
            </div>
            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Modify!</a>
        </div>
    </div>

    <div class="tourney-teams">
        <div class="teams">
            <div class="list-group black-text">
                <button type="button" class="list-group-item">
                    Equipo 1
                </button>
                <button type="button" class="list-group-item">
                    Equipo 2
                </button>
                <button type="button" class="list-group-item">
                    Equipo 3
                </button>
            </div>
        </div>

        <div class="teams">

        </div>

    </div>

</div>