<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ 'TOURNEY_CREATION' | translate }}</p>
    </div>
</div>

<div class="workspace" ng-controller="TourneyCtrl">

    <div class="tourney-setup">
        <div class="setup">
            <div class="setup-info center">
                <input type="text" name='team-name' ng-model="tourney.name" placeholder="{{ 'TOURNEY_NAME' | translate }}" class="form-control"/>
                <input type="text" name='team-name' ng-model="tourney.minimumAmountOfTeams" placeholder="{{ 'TOURNEY_MIN_AMOUNT' | translate }}" class="form-control"/>
                <input type="text" name='team-name' ng-model="tourney.maximumAmountOfTeams" placeholder="{{ 'TOURNEY_MAX_AMOUNT' | translate }}" class="form-control"/>
            </div>
            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{ 'CREATE' | translate }}</a>
        </div>
    </div>

    <div class="tourney-selectors">
        <div class="tourney-selector">
            <h4>{{ 'AVAILABLE_TEAMS' | translate }}</h4>
            <div class="team-selector center">
                <div class="list-group black-text" ng-repeat="availableTeam in allTeams | orderBy:'name'">
                    <button type="button" class="list-group-item" ng-click="addTeam(availableTeam)">{{ availableTeam.name }}</button>
                </div>
            </div>
        </div>
        <div class="tourney-selector">
            <h4>{{ 'SELECTED_TEAMS' | translate }}</h4>
            <div class="team-selector center">
                <div class="list-group black-text" ng-repeat="selectedTeam in tourney.teams | orderBy:'name'">
                    <button type="button" class="list-group-item" ng-click="removeTeam(selectedTeam)">{{ selectedTeam.name }}</button>
                </div>
            </div>
        </div>
    </div>

</div>