<div class="panel panel-default">
    <div class="panel-body">
        <p>Ranking</p>
    </div>
</div>

<div class="workspace" ng-controller="RankingCtrl">

    <div class="ranking center">
        <div class="ranking-show">
            <div class="tourneys center">
                <div class="form-group">
                    <h3 for="tourneys">{{ 'TOURNEY_SELECT' | translate }}:</h3>
                    <select class="form-control" id="tourneys">
                        <option ng-repeat="tourney in tourneys" ng-click="select(tourney);">{{ tourney.name }}</option>
                    </select>
                </div>
            </div>
            <div class="ranking center">
                <table class="table table-bordered black-text">
                    <thead class="white">
                        <tr>
                            <th>{{ 'TEAM' | translate }}</th>
                            <th>{{ 'POINTS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody class="dark-green">
                        <tr dir-paginate="team in teams | itemsPerPage: 9">
                            <td> {{ team.name }} </td>
                            <td> 0 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <dir-pagination-controls
                    max-size="9"
                    direction-links="false"
                    boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

</div>

