<div class="panel panel-default">
    <div class="panel-body">
        <p>Ranking</p>
    </div>
</div>

<div class="workspace" ng-controller="RankingCtrl">

    <div class="ranking center">

        <!-- Tourneys -->
        <div class="form-group">
            <label for="tournies">{{ 'TOURNEY_SELECT' | translate }}:</label>
            <select class="form-control" id="tournies" ng-repeat="tourney in tournies">
                <option>{{ tourney.name }}</option>
            </select>
        </div>

        <!-- Ranking table -->
        <table class="table table-bordered table-striped black-text">
            <thead>
            <tr>
                <th>{{ 'TEAM' | translate }}</th>
                <th>{{ 'POINTS' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

