<div class="ranking center">

    <h2>Ranking</h2>

    <!-- Tourneys -->
    <div class="form-group">
        <label for="sel1">Select a tourney:</label>
        <select class="form-control" id="sel1">
            <option>Tourney A</option>
            <option>Tourney B</option>
            <option>Tourney C</option>
            <option>Tourney D</option>
        </select>
    </div>

    <!-- Ranking table -->
    <table class="table table-bordered table-striped black-text">
        <thead>
            <tr>
                <th>Team</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
        </tbody>
    </table>
</div>