<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ 'ROUND_UPDATE' | translate }}</p>
    </div>
</div>

<div class="workspace" ng-controller="RoundUpdateCtrl">
    <div class="rounds-container center">
        <form name="roundUpdate" class="form-horizontal" role="form" novalidate>
            <div class="rounds-form center">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 90%;">
                                {{ 'PLAYERS' | translate }}
                            </th>
                            <th class="text-center">
                                {{ 'GOALS' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="player in allPlayers | itemsPerPage: 8">
                            <td> {{ player.name }} </td>
                            <td><input type="text" name='goals' class="form-control"/> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="round-paginator">
                <dir-pagination-controls
                        max-size="8"
                        direction-links="false"
                        boundary-links="true">
                </dir-pagination-controls>
                <a class="btn btn-primary upload">Automatic Upload</a>
            </div>
        </form>
    </div>
</div>