<div class="round-update center">

    <h2>Round update</h2>

    <form name="roundUpdate" class="form-horizontal" role="form"  novalidate>
        <label>Set the scores of the Round Number 1</label>
        <table class="table">
            <thead>
                <tr >
                    <th class="text-center">
                        Local Team
                    </th>
                    <th class="text-center">
                    </th>
                    <th class="text-center">
                        -
                    </th>
                    <th class="text-center">
                    </th>
                    <th class="text-center">
                        Away Team
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr id='addr0'>
                    <td>
                        T1
                    </td>
                    <td>
                        <input type="text" name='name0' placeholder='Points' class="form-control"/>
                    </td>
                    <td>
                        VS
                    </td>
                    <td>
                        <input type="text" name='mobile0' placeholder='Points' class="form-control"/>
                    </td>
                    <td>
                        T2
                    </td>
                </tr>
                <tr id='addr0'>
                    <td>
                        T3
                    </td>
                    <td>
                        <input type="text" name='name0' placeholder='Points' class="form-control"/>
                    </td>
                    <td>
                        VS
                    </td>
                    <td>
                        <input type="text" name='mobile0' placeholder='Points' class="form-control"/>
                    </td>
                    <td>
                        T4
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</div>