<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ 'TEAM_EDITION' | translate }}</p>
    </div>
</div>

<div class="workspace">

    <div class="team-roster">
        <div class="team-roster-input center">
            <input type="text" name='team-name' placeholder="{{ 'TEAM_NAME' | translate }}" class="form-control"/>
        </div>
        <div class="team-logo">
            <img src="http://www.tagetik.com/intouch2015/user.png" class="img-thumbnail" alt="Team Logo">
        </div>
        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{ 'SELECT_LOGO' | translate }}</a>
    </div>

    <div class="team-formation">
        <div class="players">
            <div class="list-group black-text">
                <button type="button" class="list-group-item">
                    <span class="badge">GK</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">DF</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">DF</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">GK</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">MF</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">GK</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">GK</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">FW</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">GK</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">FW</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">FW</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">FW</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">FW</span>
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item">
                    <span class="badge">FW</span>
                    Cras justo odio
                </button>
            </div>
        </div>

        <div class="players">

        </div>

        <div class="current-formation">
            <h4>Current Formation</h4>
            <ul class="list-group">
                <div class="formation center">
                    <h5>Goalkeeper</h5>
                    <li class="list-group-item list-group-item-success formation-info">1/1</li>
                    <h5>Defenders</h5>
                    <li class="list-group-item list-group-item-danger formation-info">2/3</li>
                    <h5>Midfielders</h5>
                    <li class="list-group-item list-group-item-success formation-info">4/4</li>
                    <h5>Forwards</h5>
                    <li class="list-group-item list-group-item-success formation-info">3/3</li>
                </div>
                <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Create!</a>
            </ul>
        </div>

    </div>

</div>