<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ 'TEAM_CREATION' | translate }}</p>
    </div>
</div>

<div class="workspace" ng-controller="TeamCtrl">

    <div class="team-roster">
        <div class="team-roster-input center">
            <input type="text" name='team-name' ng-model="team.name" placeholder="{{ 'TEAM_NAME' | translate }}" class="form-control"/>
        </div>
        <div class="team-logo">
            <img src="http://www.tagetik.com/intouch2015/user.png" class="img-thumbnail" alt="Team Logo">
        </div>
        <a href="" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{ 'SELECT_LOGO' | translate }}</a>
    </div>

    <div class="team-information">
        <div class="player-selector">
            <h4>Available Players</h4>
            <div class="players center">
                <div class="list-group black-text" ng-repeat="availablePlayer in allPlayers | orderBy:'name'">
                    <button type="button" class="list-group-item" ng-click="addToSelected(availablePlayer)">
                        <span class="badge">{{ availablePlayer.position }}</span>
                        {{ availablePlayer.name }}
                    </button>
                </div>
            </div>
        </div>
        <div class="player-selector">
            <h4>Selected Players</h4>
            <div class="players center">
                <div class="list-group black-text" ng-repeat="selectedPlayer in selectedPlayers | orderBy:'name'">
                    <button type="button" class="list-group-item" ng-click="removeFromSelected(selectedPlayer)">
                        <span class="badge">{{ selectedPlayer.position }}</span>
                        {{ selectedPlayer.name }}
                    </button>
                </div>
            </div>
        </div>
        <div class="team-formation">
            <h4>Current Formation</h4>
            <div class="formation center">
                <ul class="list-group">
                    <h5>Goalkeeper</h5>
                    <li ng-class="fullGoalkeepers ? 'list-group-item-danger' : 'list-group-item-success'" class="list-group-item formation-info">{{ selectedGoalkeepers }}/1</li>
                    <h5>Defenders</h5>
                    <li ng-class="fullDefenders ? 'list-group-item-danger' : 'list-group-item-success'" class="list-group-item formation-info">{{ selectedDefenders }}/3</li>
                    <h5>Midfielders</h5>
                    <li ng-class="fullMidfielders ? 'list-group-item-danger' : 'list-group-item-success'" class="list-group-item formation-info">{{ selectedMidfielders }}/4</li>
                    <h5>Forwards</h5>
                    <li ng-class="fullForwards ? 'list-group-item-danger' : 'list-group-item-success'" class="list-group-item formation-info">{{ selectedForwards }}/3</li>
                </ul>
            </div>
            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Create!</a>
        </div>
    </div>
</div>