<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <a href="#/userhome" class="navbar-brand">SuperGol Home</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">League <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#/league-create">Create</a></li>
                    <li><a href="#/league-modify">Modify</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">Team <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#/team-create">Create</a></li>
                    <li><a href="#/team-modify">Modify</a></li>
                </ul>
            </li>
            <li><a href="#/round-update">Update round</a></li>
            <li><a href="#/ranking">Ranking</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">Logout</a></li>
        </ul>
    </div>
</nav>